<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>717933410.985546</string>
					<key>XcodeLocation</key>
					<string>{"Member":".\/AppIcon.appiconset\/[][universal][][][][1x][][][][2d][1024.png]"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MyOotdMemory/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTMemberDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: The app icon set "AppIcon" has 9 unassigned children.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
